<app-header></app-header>
<h1 class="text-center my-5">I prefeiriti di {{user.username}}</h1>
<div class="container min-vh-100">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Utente</th>
            <th scope="col">Evento</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let fav of favourite">
          <tr>
            <td>{{fav.id}}</td>
            <td>{{fav.user.username}}</td>
            <td>{{fav.event.eventName}}</td>
            <td><button class="btn btn-danger" (click)="deleteFavourite(fav)">Elimina</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
