<form (ngSubmit)="handleSubmit(f)" #f="ngForm" class="vh-10 gradient-custom">
    <div class="container py-10 h-100">
        <div class=" d-flex h-100" style="justify-content:center; ">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-light text-black" style="border-radius: 1rem; margin-top:5%; ">
                    <div class="card-body text-center">

                        <div class="  ">

                            <img src="../../../assets/stadium_App_logo.png" class="col-sm-9 text-black logo"
                               style="margin-bottom: 0rem;" >
                            <div class="1part" >
                            <div class="form-outline form-black ">
                                <label class="form-label" for="typeEmailX" style="float:left">Username</label>
                                <input type="text" id="username" class="form-control" name="username"
                                    style="border-radius: 1rem; border-color: black;" placeholder="inserici username"
                                    [(ngModel)]="usertoinsert.username" [ngModelOptions]="{standalone: true}" #u="ngModel" required/>
                            </div>
                            <div class="form-outline form-black ">
                              <label class="form-label" for="typeEmailX" style="float:left">Nome</label>
                              <input type="text" id="name" class="form-control" name="name"
                                  style="border-radius: 1rem; border-color: black;" placeholder="inserici Nome"
                                  [(ngModel)]="usertoinsert.name" [ngModelOptions]="{standalone: true}" #u="ngModel" required/>
                          </div>
                          <div class="form-outline form-black ">
                            <label class="form-label" for="typeEmailX" style="float:left">Cognome</label>
                            <input type="text" id="surname" class="form-control" name="surname"
                                style="border-radius: 1rem; border-color: black;" placeholder="inserici cognome"
                                [(ngModel)]="usertoinsert.surname" [ngModelOptions]="{standalone: true}" #u="ngModel" required/>
                        </div>

                            <div *ngIf="(u.touched || f.submitted) && u.invalid">
                                <p *ngIf="u.hasError('required')" class="error">Campo Obbligatorio
                                </p>
                                <p *ngIf="u.hasError('forbidden')" class="error">Username non ammesso
                                </p>
                            </div>
                            <div class="form-outline form-black ">
                                <label class="form-label" for="typeEmailX" style="float:left">E-mail</label>
                                <input type="text" id="email" class="form-control" name="email"
                                    style="border-radius: 1rem; border-color: black;" placeholder="inserisci email"
                                    [(ngModel)]="usertoinsert.email" [ngModelOptions]="{standalone: true}" #e="ngModel"
                                    [appForbidden]="['admin@admin.com', 'user@user.it', 'administrator@admin.it']"
                                    required />
                            </div>
                            <div *ngIf="(e.touched || f.submitted) && e.invalid">
                                <p *ngIf="e.hasError('required')" class="error">Campo Obbligatorio
                                </p>
                                <p *ngIf="e.hasError('forbidden')" class="error">Email non ammessa
                                </p>
                            </div>
                            <div class="form-outline form-black ">
                                <label class="form-label" for="typePasswordX" style="float:left">Password</label>
                                <input type="password" id="password"  autocomplete="on" class="form-control" name="inserisci password"
                                    style="border-radius: 1rem; border-color: black;" placeholder="****************"
                                    [(ngModel)]="usertoinsert.password" [ngModelOptions]="{standalone: true}" #p="ngModel" required />
                                <!-- COPIA DA BLOCCO NOTE CLAUDIO QUESTA RIGA -->
                            </div>
                            </div>
                            <div class="2part" >
                            <div *ngIf="(p.touched || f.submitted ) && p.invalid">
                                <p *ngIf="p.hasError('required')" class="error">Campo Obbligatorio
                                </p>
                                <p *ngIf="p.hasError('pattern')" class="error">Password non valida
                                </p>
                            </div>
                            <div class="form-outline form-black ">
                              <label class="form-label" for="typeEmailX" style="float:left">Indirizzo</label>
                              <input type="text" id="address" class="form-control" name="username"
                                  style="border-radius: 1rem; border-color: black;" placeholder="inserici Indirizzo"
                                  [(ngModel)]="usertoinsert.address" [ngModelOptions]="{standalone: true}" #u="ngModel" required/>
                          </div>
                          <div class="form-outline form-black">
                            <label class="form-label" for="phone" style="float:left">Num.telefono</label>
                            <input type="text" id="phoneNumber" class="form-control" name="username"
                                style="border-radius: 1rem; border-color: black;" placeholder=" Numero Telefono"
                                [(ngModel)]="usertoinsert.phone_number" [ngModelOptions]="{standalone: true}" #u="ngModel" required/>
                        </div>
                          <div class="form-outline form-black ">
                            <label for="usertype">Usertype</label><br>
                            <select  style="height:2rem ;width:4.5rem;border-radius: 3px;" placeholder="usertype" [(ngModel)]="usertoinsert.usertype" [ngModelOptions]="{standalone: true}">
                                <option ngValue="ADMIN">{{"ADMIN"}}</option>
                                <option ngValue="USER">{{"USER"}}</option>
                          </select></div>
                        </div>
                            <button class="btn btn-danger btn-block"  type="submit"
                                style="border-radius: 1rem; margin-top: 5%;" >Registrati</button>
                        </div>
                        <div>
                            <p >Hai già un account? <a routerLink="/login"
                                    style="color:rgba(219, 90, 90, 0.767); font-weight: bold;">Login</a></p>
                            <p class="" style="color:grey; margin-top: 0%;margin-bottom:-1rem;">Powered by Contrader</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
