.gradient-custom {
  background-image:url("../../../assets/architecture-g3d9943b4b_1920.jpg");
  background-size: cover;
  height: 100%;
 }

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

}



@media (min-width: 768px) {

    .mb-md-5,
    .my-md-5 {
        margin-bottom: 0rem !important;
    }
}
.logo {
    margin-bottom: 20%;
}

.error {
    color:rgba(219, 90, 90, 0.767)
}
