<app-header></app-header>
<div class="info-profile" style="text-align: center;">
<h1>Info Profile {{users.name}}  {{users.surname}}</h1>
<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <h2 class="fw-bolder"> Utente: {{users.username}}</h2>
          <div class="card">
              <form (ngSubmit)="handleSubmit(f)" #f="ngForm" class="form-card" onsubmit="event.preventDefault()">
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nome
                              </label> <input type="text" readonly id="fname"
                              name="name" [(ngModel)]="users.name" [ngModelOptions]="{standalone: true}" #n="ngModel"> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">
                              cognome</label> <input readonly type="text" [(ngModel)]="users.surname" [ngModelOptions]="{standalone: true}" #s="ngModel"
                              id="lname" name="userId"> </div>
                  </div>
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label
                              class="form-control-label px-3">Email</label> <input readonly type="text" [(ngModel)]="users.mail" [ngModelOptions]="{standalone: true}" #l="ngModel" id="email" name="placesAvailable"

                              > </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label
                              class="form-control-label px-3">Indirizzo</label> <input readonly type="text" [(ngModel)]="users.address" [ngModelOptions]="{standalone: true}" #m="ngModel" id="mob" name="maxCapacity"
                              > </div>
                  </div>
                  <div class="row justify-content-between text-left">
                      <div class="form-group col-sm-6 flex-column d-flex"> <label
                              class="form-control-label px-3">Alias</label> <input readonly
                              type="text" [(ngModel)]="users.username" [ngModelOptions]="{standalone: true}" #t="ngModel" id="job" name="stadiumName"> </div>
                      <div class="form-group col-sm-6 flex-column d-flex"> <label
                              class="form-control-label px-3">Telefono</label> <input readonly
                              type="text" [(ngModel)]="users.phone" [ngModelOptions]="{standalone: true}" #d="ngModel" id="mob" name="eventDate"> </div>
                  </div>
                  <input readonly type="hidden" [(ngModel)]="users.id" [ngModelOptions]="{standalone: true}" #d="ngModel">
                  <div class="row justify-content-center">
                      <div class="form-group col-sm-6"> <button type="submit"
                              class="btn-block btn-primary" (click)="handleSubmit(f)">Salva</button> </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


</div>
<app-footer></app-footer>
