<app-navbar></app-navbar>
<div class="container rounded bg-white mt-5">
  <div class="row">
      <div class="col-md-4 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="{{user.propic}}" width="90"><span class="font-weight-bold">{{user.name}} {{user.surname}}</span><span class="text-black-50">{{user.email}}</span><span>{{user.address}}</span></div>
        </div>
          <div class="col-md-8">
          <div class="p-3 py-5">
                  <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                      <h6><a href="home"> Torna alla home</a></h6>
                  </div>
                  <h6 class="text-right">Modifica Profilo</h6>
              </div>
              <div class="row mt-2">
                  <div class="col-md-6"><input  name="username" [(ngModel)]="user.name" type="text" class="form-control" placeholder="Nome" value={{user.name}}></div>
                  <div class="col-md-6"><input name="surname" [(ngModel)]="user.surname" type="text" class="form-control" value={{user.surname}} placeholder="Cognome"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><input name="email" [(ngModel)]="user.email" type="text" class="form-control" placeholder="Email" value={{user.email}}></div>
                  <div class="col-md-6"><input type="text" name="phone_number" [(ngModel)]="user.phone_number" class="form-control" value={{user.phone_number}} placeholder="Telefono"></div>
              </div>
              <div class="row mt-3">
                  <div class="col-md-6"><input type="text"name="address" [(ngModel)]="user.address" class="form-control" placeholder="indirizzo" value={{user.address}}></div>
                  <div class="col-md-6"><input type="text" id="img" name="img" class="form-control" placeholder="Inserisci url immagine" [(ngModel)]="user.propic" #fileUpload></div>

              </div>

              <div class="my-5 text-right"><button class="btn btn-primary profile-button" (click)="updateUser(user)" type="button">Salva Informazioni</button></div>
          </div>
      </div>
  </div>
<div *ngIf="role==2">
  <div class="container mt-5">
    <h2>I tuoi ultimi ticket</h2>
    <div *ngFor="let ticket of tickets index as i" >
    <div *ngIf="i<3" class="row my-3">
      <div class="col-12 card">
        <div class="row">
          <div class="col-12 col-md-4 text-center pt-3 testi">
            <p>{{ticket.event.eventName}}</p>
            <p>{{ticket.event.eventDate}}</p>
          </div>

          <div class="col-12 col-md-4 text-center pt-3 testi">
            <p>{{ticket.event.stadiumName}}</p>
            <p>Acquisto il : {{ticket.purchaseDate}}</p>
          </div>

          <div class="col-12 col-md-4 text-right pt-4 pr-5">
            <button class="btn btn-danger" (click)="deleteTicket(ticket)">Elimina</button>
          </div>

        </div>
      </div>

      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 text-right pt-4 pr-5">

      </div>
      <div class="col-12 col-md-4 text-center pt-4 pr-5">
        <a class="btn blub" [routerLink]="['/ticket']">Mostra altro</a>
      </div>
      <div class="col-12 col-md-4 text-right pt-4 pr-5">

      </div>
    </div>

  </div>

  <div class="container mt-5">
    <h2 class="text-right mt-5">I tuoi preferiti</h2>
    <div *ngFor="let favourite of favourites index as i" >
    <div *ngIf="i<3" class="row my-3">
      <div class="col-12 card">
        <div class="row">
          <div class="col-12 col-md-4 text-center pt-3 testi">
            <p>{{favourite.event.eventName}}</p>
            <p>{{favourite.event.eventDate}}</p>
          </div>

          <div class="col-12 col-md-4 text-center pt-3 testi">
            <p class="pt-4">{{favourite.event.stadiumName}}</p>
          </div>

          <div class="col-12 col-md-4 text-right pt-4 pr-5">
            <button class="btn btn-danger" (click)="deleteFavourite(favourite)">Elimina</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 text-right pt-4 pr-5">

      </div>
      <div class="col-12 col-md-4 text-center pt-4 pr-5">
        <a href="#" class="btn blub mb-5" [routerLink]="['/favourite', user.id]">Mostra altro</a>
      </div>
      <div class="col-12 col-md-4 text-right pt-4 pr-5">

      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
