<app-header></app-header>
<div id="image">

</div>

<div style="text-align:center ;"  id="user">
  <h1>Utenti</h1>
  <button type="button" style="margin-bottom:2%; margin-top: 2%;" class="btn btn-primary active" data-bs-toggle="button" aria-pressed="true" [routerLink]="'/insert-user'">Inserisci Utente</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Usertype</th>
        <th scope="col">Elimina</th>
        <!-- <th scope="col">Modifica</th> -->
        <th scope="col">info</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.usertype}}</td>

        <td><button class="btn btn-danger" (click)="delete(user)">Elimina</button></td>
        <!-- <td><button class="btn btn-info" (click)="switchEdit(user)">Modifica</button></td> -->
        <td><button class="btn btn-info" [routerLink]="['/info-profile', user.id]">Info</button></td>
        <div *ngIf="user.editing == true"><td>
          Username:<input [(ngModel)]="user.username">
        </td>
        <td >
          Password:<input style="margin-left:1.3rem ;" [(ngModel)]="user.password">
        </td>
      <td><button style="margin-left:1.5rem ;" class="btn btn-info" (click)=update(user)>Save</button></td></div>

      </tr>
    </tbody>
  </table>

  </div>


  <app-footer></app-footer>
