<app-header></app-header>
<div class="img">
</div>
  <div id="container">

    <div></div>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Città
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">Roma</button></li>
    <li><button class="dropdown-item" type="button">Milano</button></li>
    <li><button class="dropdown-item" type="button">Napoli</button></li>
  </ul>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Categoria
  </button>
  <ul class="dropdown-menu">
    <li><button class="dropdown-item" type="button">Serie A</button></li>
    <li><button class="dropdown-item" type="button">Serie B</button></li>
    <li><button class="dropdown-item" type="button">Serie C</button></li>
  </ul>
</div>
<div><input class="btn btn-secondary dropdown-toggle" type="date" placeholder="Dal giorno"> </div>

  <div>
    <input class="btn btn-secondary dropdown-toggle" type="date" placeholder="Al giorno"></div>
</div>

<div  id="teams">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Creatore dell'evento</th>
        <th scope="col">Evento</th>
        <th scope="col">Stadio</th>
        <th scope="col">Data</th>
        <th scope="col">Posti Disponibili</th>
      </tr>
    </thead>
    <tbody *ngFor="let event of events">
      <tr>
        <th scope="row">{{event.id}}</th>
        <td>{{event.userId.username}}</td>
        <td>{{event.eventName}}</td>
        <td>{{event.stadiumName}}</td>
        <td>{{event.eventDate}}</td>
        <td>{{event.placesAvailable}}</td>
      </tr>
    </tbody>
  </table>
</div>
