

app-header {
  display:fixed !important;
  position: sticky !important;
}
.btn-secondary {
  color: black !important;
  border:  rgba(234, 234, 234, 0.716) !important;;
  background-color: rgba(234, 234, 234, 0.716) !important;

}
#container {

  margin-top: 2rem;
  margin-bottom: 2rem;

}

.poput::after{
  background-image: url("../../../assets/Stadium_App_Full_HD.mp4");
}
#teams {

  padding:0 3rem !important;

}


#listteam{
  border: none !important;
  border-radius: 5px !important;
  background-color: rgba(234, 234, 234, 0.716) !important;
}

.img{
  width: 100% !important;
  height: 15rem;
  background-position: center !important;
  background-image: url("../../../assets/soccer-g6c1515f29_1920.jpg");
}
.form-inputs{
  position:relative;
}
.form-inputs .form-control{
  height:45px;
}

.form-inputs .form-control:focus{
  box-shadow:none;
  border:1px solid #000;
}

.form-inputs i{
  position:absolute;
  right:10px;
  top:15px;
}

.shop-bag{
  background-color:#000;
  color:#fff;
  height:50px;
  width:50px;
  font-size:25px;
  display:flex;
  border-radius:50%;
  align-items:center;
  justify-content:center;
}
.xxx{
  padding-left: 70px;
}
.qty{
  font-size:12px;
}
