<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-light text-black" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                           <img src="../../../assets/stadium_App_logo.png"  class="col-sm-7 text-black logo" >

                            <div class="form-outline form-black mb-3">
                                <label class="form-label" for="typeEmailX">Email</label>
                                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline form-black mb-3">
                                <label class="form-label" for="typePasswordX">Password</label>
                                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                            </div>

                            <p class="small mb-5 pb-lg-2"><a class="text-black-50" href="#!">Password Dimenticata?</a></p>

                            <button class="btn btn-outline-black btn-lg px-5" type="submit">Accedi</button>
                        </div>

                        <div>
                            <p class="mb-0">Don't have an account? <a href="#!" class="text-black-50 fw-bold">Registrati</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>