.gradient-custom {
  background-image:url("../../../assets/audience-g51bb14638_1920.jpg");
  background-size: cover;
  height: 100%;
 } 

 .pb-4, .py-4 {
    padding-bottom: 9.5rem!important;
}

@media (min-width: 768px) {

    .mb-md-5,
    .my-md-5 {
        margin-bottom: 0rem !important;
    }
}
.logo {
    margin-bottom: 20%;
}