#navbarSupportedContent{


  display: flex !important;
  justify-content: end !important;
  margin-right: 6.5rem !important;

}

#cerca{



  background-color: blue !important;
  color: blue !important;
}
#search{

  border: white !important;

  margin-right: 5rem !important;
}


a{
  color: white !important;
}

a:hover{
  color: white !important;
}

a:active {
  color: white !important;
}

ul{
  background-color: rgb(23, 23, 92) !important;
}





