.footer{
  margin-bottom: 0 !important;

  text-align: center !important;

  background-color: rgb(23, 23, 92) !important;
}

.social p{
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  font-size: 2rem;
}

.social p a {
  color: white !important;
  font-size: 2rem;
}
